.hoverable-img-dark {
    opacity: 0.1;
    transition: 0.2s ease;
    background-color: #000;
}

*:hover > .hoverable-img-dark {
    opacity: 0.4;
    transition: 0.2s ease;
}

.video-marker {
    transition: 0.2s ease;
}

*:hover > .video-marker {
    transform: scale(1.1);
}

.content {
    position: relative;
    top:50px;
    width:100%;
    height: calc(100% - 50px);
}

.w-100 {
    width:100%;
}

.h-100 {
    height:100%;
}

.grid-gap-0 {
    grid-gap: 0;
}

.grid-gap-5 {
    grid-gap: 5px;
}

.grid-gap-10 {
    grid-gap: 10px;
}

.grid-gap-20 {
    grid-gap: 20px;
}

.grid-gap-30 {
    grid-gap: 30px;
}

.form-small {
    width: min(300px, 90vw);
}

.form-medium {
    width: min(600px, 90vw);
}

.form-large {
    width: min(900px, 90vw);
}

.overlayer-bg {
    background-color: #000000;
    width: 100%;
    height: 100%;
    position: fixed;
    top:0;
    left:0;
    opacity: 0.7;
}

.overlayer {
    position: fixed;
    z-index: 1050;
    top:0;
    left:0;
    right: 0;
    height: 100vh;
    margin: 0;
    overflow: auto;
}

.clickable {
    cursor: pointer;
}

.hoverable {
    opacity: 1;
    transition: 0.2s ease;
}

.hoverable:hover {
    opacity: 0.75;
}

.hoverable-par {
    opacity: 1;
    transition: 0.2s ease;
}

*:hover > .hoverable-par {
    opacity: 0.75;
}

.hoverable-t {
    opacity: 0.6;
    transition: 0.2s ease;
}

.hoverable-t:hover {
    opacity: 0.75;
}

.hoverable-t-par {
    opacity: 0.6;
    transition: 0.2s ease;
}

*:hover > .hoverable-t-par {
    opacity: 0.75;
}

.screen {
    position: relative;
    width: 100%;
    min-height: calc(100vh - 50px);
    color: #001011;
}

.dark-screen {
    background-color: #001011;
    color: #fff;
}

.screen-sticky {
    position: sticky;
    top: 50px;
    width: 100%;
    height: calc(100vh - 50px);
    background-size: cover;
    background-position: center center;
}

.padding-container {
    position: relative;
    padding: 60px 80px;
    width: 100%;
    min-height: 100%;
}

.padding-width {
    position: relative;
    padding: 0 80px;
    width: 100%;
}

.content-container {
    width: calc(100vw - 160px);
    max-height: calc(100vh - 120px);
}

.gallery-content-container {
    width: calc(100vw - 160px);
    max-width: 130vh;
    max-height: min(calc(100vh - 120px), 70vw);
}

.center-container {
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
}

.white-panel {
    background-color: #ffffffaa;
    box-shadow: 5px 5px 7px #0007;
    color: #001011;
}

.very-white-panel {
    background-color: #ffffff;
    box-shadow: 5px 5px 7px #0007;
    color: #001011;
}

button {
    background-color: rgba(0,16,17,1);
    color: #fff;
    border: none;
}

ul {
    padding-left: 0;
}

ul > li {
    list-style: none;
    text-indent: 0;
}
ul > li:before {
    content: "-";
    padding-right: 5px;
}

.absolute-centralized {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.popup-content {
    display: grid;
    grid-gap: 10px;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr 40px;
    grid-template-rows: 40px 1fr;
}

.popup-content > ion-icon {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.popup-content > .popup-header {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.popup-content > .popup-html {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.gallery-container {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
}

.gallery-elem {
    width: 50px;
}

.gallery-elem > ion-icon {
    width: 50px;
    height: 50px;
}

.gallery-left {
    position: absolute;
    left: 0;
    top: 70px;
    height: calc(100% - 140px);
    cursor: pointer;
}

.gallery-left > ion-icon {
    color: #ffffff99;
    position: absolute;
    top: calc(50% - 25px);
}

.gallery-left:hover > ion-icon {
    color: #ffffffff;
}

.gallery-right {
    position: absolute;
    right: 0;
    top: 70px;
    height: calc(100% - 140px);
    cursor: pointer;
}

.gallery-right > ion-icon {
    color: #ffffff99;
    position: absolute;
    top: calc(50% - 25px);
}

.gallery-right:hover > ion-icon {
    color: #ffffffff;
}

.gallery-close {
    position: absolute;
    right: 0;
    top: 0;
    height: 50px;
    cursor: pointer;
}

.gallery-close > ion-icon {
    color: #ffffff99;
    position: absolute;
}

.gallery-close:hover > ion-icon {
    color: #ffffffff;
}

.gallery-content {
    display: none;
}

.loader {
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid #b00;
    border-right: transparent;
    border-bottom: transparent;
    border-left: transparent;
    width: 60px;
    height: 60px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

.height-min-content {
    height: min-content;
}

.alert-container {
    position: fixed;
    top:10px;
    right: 10px;
    width: 400px;
    background: transparent;
    display: grid;
    grid-gap: 10px;
    z-index: 1060;
}

.alert-block {
    width: 100%;
    padding: 20px;
    z-index: 1070;
    transition: 0.3s ease;
}

.alert-block-danger {
    background-color: #b00;
    color: #fff;
}

.alert-block-warning {
    background-color: #bb0;
    color: #000;
}

.alert-block-success {
    background-color: #0b0;
    color: #fff;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@media (max-width: 1100px) {
    .padding-container {
        padding: 40px 60px;
    }

    .content-container {
        width: calc(100vw - 120px);
        max-height: calc(100vh - 80px);
    }

    .gallery-content-container {
        width: calc(100vw - 120px);
        max-height: min(calc(100vh - 80px), 70vw);
    }
}

@media (max-width: 840px) {
    .padding-container {
        padding: 40px 40px;
    }

    .content-container {
        width: calc(100vw - 100px);
        max-height: calc(100vh - 70px);
    }

    .gallery-content-container {
        width: calc(100vw - 100px);
        max-height: min(calc(100vh - 70px), 70vw);
    }

    .gallery-elem {
        width: 40px;
    }

    .gallery-elem > ion-icon {
        width: 40px;
        height: 40px;
    }
}

.icon20 {
    width: 20px;
    height: 20px;
    color: #999;
}

@media (max-width: 450px) {
    .padding-container {
        padding: 30px 30px;
    }

    .content-container {
        width: calc(100vw - 80px);
        max-height: calc(100vh - 60px);
    }

    .gallery-content-container {
        width: calc(100vw - 80px);
        max-height: min(calc(100vh - 60px), 70vw);
    }

    .gallery-elem {
        width: 35px;
    }

    .gallery-elem > ion-icon {
        width: 35px;
        height: 35px;
    }

    .alert-container {
        top:10px;
        right: 10px;
        left: 10px;
        width: auto;
    }
}
